{% extends 'base.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}

{% block body %}
<h1 class="text-center">{{ category.title|replace({'é': 'E'}) }}</h1>
<div class="d-flex flex-wrap justify-content-between align-items-center">
    <a href="{{ path('app_home') }}" class="btn btn-dark">Retour à l'accueil</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-primary">Modifier la catégorie</a>
    {% endif %}
</div>
<p class="h4">Tout les sujets</p>
<ul>
    {% for topic in category.topics %}
        <li>
            <div>
                <div>
                    <b>{{ topic.title }}</b><br>
                    <span>{{ topic.createdAt|date('d/m/Y H:i')|replace({' ': ' à ', ':':'h'}) }} par {{ topic.user.username }}</span>
                </div>
                <div>
                    <a href="{{ path('topic_show', {'id': topic.id}) }}" class="btn btn-primary">
                        {% if topic.state == 'OPENED' %}
                            Voir le sujet
                        {% else %}
                            Voir les messages    
                        {% endif %}
                    </a>
                    {% include "topic/close.html.twig" %}
                </div>
            </div>
            {% include "message/show.html.twig" with {'messages':topic.message} %}
        </li>
    {% endfor %}
</ul>
{% endblock %}
