{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="example-wrapper">
    <h1>Administration</h1>

    <h2>Liste des utilisateurs</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Pseudo</th>
                <th scope="col">Connexion</th>
                <th scope="col">Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.username }}</td>
                    <td>{% include "admin/connectionHistory.html.twig" %}</td>
                    <td>
                        <a href="{{ path('account_close', {'id': user.id}) }}" style="text-decoration:none">
                            {{ user.active ? '<span class="text-success">actif</span>' : '<span class="text-danger">inactif</span>' }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}