{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
<h1 class="text-center">Creer un compte</h1>

{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
    {{ form_row(form.email) }}
    {{ form_row(form.address) }}
    <div class="d-flex flex-wrap justify-content-between">
        {{ form_row(form.postalCode) }}
        {{ form_row(form.city) }}
    </div>
    {{ form_row(form.phone) }}
    <div class="d-flex flex-wrap justify-content-between align-items-center">
        {{ form_row(form.save) }}
        <a href="{{ path('app_login') }}" class="text-dark">Vous avez déjà un compte, connectez-vous</a>
    </div>
{{ form_end(form) }}
{% endblock %}
