{% extends 'base.html.twig' %}

{% block title %}{{ topic.title }}{% endblock %}

{% block body %}
    <h1>{{ topic.title }}</h1>
    <a href="{{ path('category_show', {'id': topic.category.id}) }}" class="btn btn-dark">Retour aux sujets</a>
    <div class="d-flex justify-content-between align-items-center">
        <span>Créé le {{ topic.createdAt|date('d/m/Y H:i')|replace({' ': ' à ', ':':'h'}) }} par {{ topic.user.username }}</span>
        {% include "topic/close.html.twig" %}
    </div>
    
    <div id="js_show_messages">
        {% include "message/show.html.twig" %}
    </div>
    {% if topic.state == 'OPENED' %}
        <p><b>Vous pouvez ajouter un message</b></p>
        {{ form_start(form) }}
            <input type="hidden" name="topic" value="{{topic.id}}">
        {{ form_end(form) }}
    {% else %}
        <p class="alert alert-warning">Le sujet est cloturé</p>    
    {% endif %}
{% endblock %}

{% block javascripts %}
<script>
    const addVoteUrl = "{{ path('vote_add') }}";
    (function() {
        let votes = document.querySelectorAll('.js_vote');
        for(vote of votes){
            vote.addEventListener('click', (e)=>{ fetchVote(e) });
        }
    })();

    const fetchVote = (e)=>{
        e.preventDefault();
        fetch(addVoteUrl, {
            method: 'POST',
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
                "message": e.target.dataset.message,
                "action": e.target.dataset.action
            })
        }).then(res=>res.json()).then(res=>{
            if(!res.error){
                document.querySelector('#js_show_messages').innerHTML = res.content;
                let votes = document.querySelectorAll('.js_vote');
                for(vote of votes){
                    vote.addEventListener('click', (e)=>{ fetchVote(e) });
                }
            }else{
                window.location = res.url;
            }
        }).catch(e => alert(e))
    }
</script>
{% endblock %}
